<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Central - Home</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <%- include('../partials/sell-header') %>
    <main>
      <section id="notify">
        <div class="box">
          <div class="head">
            <p>9 orders</p>
          </div>
          <div class="body">
            <img src="/images/order.png">
          </div>
          <a href="#">Ship Orders</a>
        </div>
        <div class="box">
          <div class="head">1 Message</div>
          <div class="body">
            <img src="/images/message.png">
          </div>
          <a href="#">View Messages</a>
        </div>
        <div class="box">
          <div class="head">Site Insights</div>
          <div class="body">
            <img src="/images/analytics.png">
          </div>
          <a href="#">Analytics</a>
        </div>
      </section>

      <section id="edit">
        <form action="/admin/koshigo/edit" method="post">
          <h1>Banner Images:</h1>
          <div class="banners">
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>
            <div class="banner">
              <span>Change</span>
              <img src="#" alt="Banner Image">
              <input type="file" name="bannerPic">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
              </svg>
            </div>

            <script>
              const bannerPicWrap = document.querySelectorAll("#edit > form > div.banners > div")
              const bannerInp = document.querySelectorAll("#edit > form > div.banners > div > input[type=file]")
              const bannerPicImg = document.querySelectorAll("#edit > form > div.banners > div > img")

              for (let i = 0; i < bannerPicWrap.length; i++) {
                const element = bannerPicWrap[i];
                element.addEventListener('click', () => {
                  bannerInp[i].click()
                })
              }

              for (let i = 0; i < bannerInp.length; i++) {
                const element = bannerInp[i];

                element.addEventListener('change', function () {
                  const file = this.files[0]
                  if (file) {
                    const reader = new FileReader()
                    reader.onload = function () {
                      const result = reader.result
                      bannerPicImg[i].setAttribute('src', result)
                      bannerPicWrap[i].classList.add('data')
                    }
                    reader.readAsDataURL(file)
                  }
                })
              }
            </script>
          </div>

          <h1>Edit Categories:</h1>
          <div class="categories">
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <div class="category">
              <div class="pic">
                <span>Change</span>
                <input type="file" name="categoryPic">
                <img src="#">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z" />
                </svg>
              </div>
              <input type="text" name="categoryName" placeholder="Category Name">
            </div>
            <script>
              const categoryPicWrap = document.querySelectorAll("#edit > form > div.categories > div > div")
              const categoryInp = document.querySelectorAll("#edit > form > div.categories > div > div > input[type=file]")
              const categoryPicImg = document.querySelectorAll("#edit > form > div.categories > div > div > img")

              for (let i = 0; i < categoryPicWrap.length; i++) {
                const element = categoryPicWrap[i];
                element.addEventListener('click', () => {
                  categoryInp[i].click()
                })
              }

              for (let i = 0; i < categoryInp.length; i++) {
                const element = categoryInp[i];

                element.addEventListener('change', function () {
                  const file = this.files[0]
                  if (file) {
                    const reader = new FileReader()
                    reader.onload = function () {
                      const result = reader.result
                      categoryPicImg[i].setAttribute('src', result)
                      categoryPicWrap[i].classList.add('data')
                    }
                    reader.readAsDataURL(file)
                  }
                })
              }
            </script>
          </div>
          <h1>Edit Links:</h1>
          <div class="links">
            <div class="group">
              <label for="">Amazon:</label>
              <input type="text" name="amazon">
            </div>
            <div class="group">
              <label for="">Flipkart:</label>
              <input type="text" name="flipkart">
            </div>
            <div class="group">
              <label for="">Facebook:</label>
              <input type="text" name="facebook">
            </div>
            <div class="group">
              <label for="">Twitter:</label>
              <input type="text" name="twitter">
            </div>
            <div class="group">
              <label for="">YouTube:</label>
              <input type="text" name="youtube">
            </div>
            <div class="group">
              <label for="">Whatsapp:</label>
              <input type="text" name="whatsapp">
            </div>
          </div>
          <div class="btn_area">
            <button type="button">Cancel</button>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
    </main>
</body>

</html>