<header>
  <a href="/admin/" class="one">
    <img src="/images/fav.png">
    <span>Koshigo</span>
  </a>
  <nav>
    <a href="/admin/product/new">
      <img src="/images/productAdd.png">
    </a>
    <a href="/admin/inventory">
      <img src="/images/inventory.png">
    </a>
    <a href="/admin/order">
      <img src="/images/order.png">
    </a>
    <a href="/admin/buyer-message">
      <img src="/images/message.png">
    </a>
    <a href="/admin/insights">
      <img src="/images/analytics.png">
    </a>
  </nav>
</header>