@font-face {
  font-family: ubuntu;
  src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: nunito;
  src: url(/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
svg {
  width: 30px;
}

body {
  width: 100%;
  background: #f2f2f2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

header {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  font-family: ubuntu;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

header .one,
header .two,
header .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .one {
  height: 100%;
}

header .one button {
  border: none;
  border-radius: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  background: none;
  position: relative;
}

header .one button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #ddd;
  z-index: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header .one button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #ccc;
  z-index: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header .one button:hover::before,
header .one button:focus::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

header .one button svg {
  width: 50%;
  z-index: 1;
}

header .one a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .one a img {
  margin-right: 5px;
}

header .two {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  height: 68%;
  overflow: hidden;
}

header .two input {
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  height: 100%;
  border: 2px solid #40407a;
  border-radius: 2px 0 0 2px;
  padding: 0 8px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

header .two input:focus {
  border-color: #182c61;
}

header .two button {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  height: 100%;
  border: 2px solid #40407a;
  border-left: none;
  border-radius: 0 2px 2px 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #40407a;
}

header .two button svg {
  height: 60%;
  fill: #fff;
}

header .three {
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header .three a {
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 8px;
  position: relative;
}

header .three a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #ddd;
  z-index: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header .three a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #ccc;
  z-index: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

header .three a:hover::before,
header .three a:focus::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

header .three a svg {
  width: 60%;
  z-index: 1;
}

header .three a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
}

header .three a .tooltip {
  position: absolute;
  top: 30%;
  left: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

header .three a#sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 42px;
  text-decoration: none;
  color: #40407a;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 5px;
  border-width: 2px;
  border-color: #40407a;
  font-weight: 500;
}

header .three a#sign:hover,
header .three a#sign:focus {
  color: #182c61;
  border-color: #182c61;
}

header .three a#sign::before,
header .three a#sign::after {
  display: none;
}

header .three a#sign svg {
  width: 25px;
  margin-right: 5px;
  fill: currentColor;
}

#sidebar {
  width: 18rem;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);
  font-family: nunito;
  z-index: 9999;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#sidebar .top {
  width: 100%;
  height: 11rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  background: #40407a;
  color: #fff;
}

#sidebar .top img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#sidebar .top p#userName {
  margin: 8px 0 3px;
}

#sidebar .top button {
  position: absolute;
  top: 10px;
  left: 22px;
  border: none;
  border-radius: 0;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
}

#sidebar .top button svg {
  width: 50%;
  fill: #fff;
}

#sidebar .middle {
  width: 100%;
  padding: 5px 0;
}

#sidebar .middle a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

#sidebar .middle a:hover {
  background: #d0d0d0;
}

#sidebar .middle a.circle img {
  border-radius: 50%;
}

#sidebar .middle a svg,
#sidebar .middle a img {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

#sidebar .middle hr {
  margin: 5px 0;
}

#sidebar .foot {
  margin: 5px 0;
  padding: 0 5px;
}

#sidebar .foot p {
  font-size: 14px;
  font-weight: normal;
}

main {
  width: 100%;
}

.banner-slider.owl-carousel {
  width: 100%;
  position: relative;
}

.banner-slider.owl-carousel .slide {
  width: 100%;
  height: 35rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-slider.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.banner-slider.owl-carousel .owl-dots span {
  width: 10px !important;
  height: 10px !important;
}

.banner-slider.owl-carousel .owl-dots button {
  border: none !important;
  outline: none !important;
}

.banner-slider.owl-carousel .owl-nav button {
  border: none !important;
  outline: none !important;
}

.banner-slider.owl-carousel .owl-prev,
.banner-slider.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background: none !important;
}

.banner-slider.owl-carousel .owl-prev {
  left: 1%;
}

.banner-slider.owl-carousel .owl-next {
  right: 1%;
}

section#products,
section#contact {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-family: raleway;
}

section#products h1,
section#contact h1 {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  -webkit-columns: #333;
  columns: #333;
  margin-bottom: 1rem;
}

section#products h1::before,
section#contact h1::before {
  position: absolute;
  width: 8%;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 2px solid red;
}

section#products .product_area,
section#contact .contact_area {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section#contact .contact_area .left {
  background: #fff;
  padding: 1rem;
  width: 50%;
}

section#contact .contact_area .left label,
section#contact .contact_area .left input,
section#contact .contact_area .left textarea,
section#contact .contact_area .left button {
  width: 80%;
  display: block;
  text-align: left;
}

section#contact .contact_area .left label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

section#contact .contact_area .left button {
  text-align: right;
  width: max-content;
  padding: 5px 2rem;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  background: #3949ab;
  color: #fff;
  border: 3px solid #3949ab;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  outline: none;
}

section#contact .contact_area .left button:hover {
  background: #303f9f;
}

section#contact .contact_area .left input,
section#contact .contact_area .left textarea {
  margin-bottom: 1rem;
  padding: 5px;
  font-size: 16px;
}

section#contact .contact_area .right {
  width: 50%;
}

section#contact .contact_area .right iframe {
  width: 100%;
  height: 100%;
}

section#products .product_area .product {
  margin: 10px 8px;
  width: 22rem;
  background: #fff;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

section#products .product_area .product:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

section#products .product_area .product a.product_link {
  text-decoration: none;
  color: #7c68ff;
}

section#products .product_area .product a.product_link:hover > h2 {
  color: #f55b5b;
  text-decoration: underline;
}

section#products .product_area .product a.product_link .img {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section#products .product_area .product a.product_link img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

section#products .product_area .product a.product_link h2 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: ubuntu;
}

section#products .product_area .product a.product_link .rating {
  margin: 5px 0;
  font-family: roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section#products .product_area .product a.product_link .rating svg {
  width: 20px;
  fill: orange;
  margin: 0 1px;
}

section#products .product_area .product a.product_link .rating svg.caret {
  width: 10px;
  fill: #777;
  margin: 0 5px;
}

section#products .product_area .product a.product_link p.price {
  margin-top: 8px;
  font-family: roboto, sans-serif;
  font-weight: normal;
  color: #000;
}

section#products .product_area .product a.product_link p.price svg {
  width: 8px;
}

section#products .product_area .product a.product_link p.price span.one {
  font-size: 24px;
  color: #b12704;
}

section#products .product_area .product a.product_link p.price .two {
  font-size: 16px;
  color: #565959;
}

section#products .product_area .product a.product_link p.price span.three {
  color: #0f1111 !important;
  font-size: 17px;
}

section#products .product_area .product a.cart {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  background: #40407a;
  color: #fff;
  text-decoration: none;
  font-family: nunito;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section#products .product_area .product button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background: #fff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

section#products .product_area .product button::before {
  content: "Add to Wishlist";
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  z-index: 9;
  font-size: 12px;
}

section#products .product_area .product button::after {
  content: "";
  position: absolute;
  top: -11%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  border: 4px solid #000;
  border-left-color: transparent;
  border-top-color: transparent;
}

section#products .product_area .product button::before,
section#products .product_area .product button::after {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

section#products .product_area .product button:hover::after,
section#products .product_area .product button:hover::before {
  opacity: 1;
}

section#products .product_area .product button svg {
  width: 60%;
}

section#product_slider {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 1rem;
  font-family: raleway;
}

section#product_slider h1 {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  -webkit-columns: #333;
  columns: #333;
  margin-bottom: 1rem;
}

section#product_slider h1::before {
  position: absolute;
  width: 8%;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 2px solid red;
}

section#product_slider .owl-carousel {
  position: relative;
}

section#product_slider .owl-carousel .owl-nav button {
  outline: none !important;
  z-index: 1;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  height: 50px;
}

section#product_slider .owl-carousel .owl-nav button.disabled {
  display: none !important;
}

section#product_slider .owl-carousel .owl-prev,
section#product_slider .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #fff;
  border: 2px solid #40407a !important;
  background: #40407a !important;
  padding: 5px 10px !important;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

section#product_slider .owl-carousel .owl-prev:hover,
section#product_slider .owl-carousel .owl-next:hover {
  background: #fff !important;
  fill: #40407a !important;
}

section#product_slider .owl-carousel .owl-prev svg,
section#product_slider .owl-carousel .owl-next svg {
  width: 20px;
}

section#product_slider .owl-carousel .owl-prev {
  left: 1%;
}

section#product_slider .owl-carousel .owl-next {
  right: 1%;
}

section#product_slider .product {
  min-height: 38rem;
  margin: 15px auto;
  width: 22rem;
  background: #fff;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  z-index: 0;
}

section#product_slider .product:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

section#product_slider .product a.product_link {
  text-decoration: none;
  color: #7c68ff;
}

section#product_slider .product a.product_link:hover > h2 {
  color: #f55b5b;
  text-decoration: underline;
}

section#product_slider .product a.product_link .img {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#product_slider .product a.product_link img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

section#product_slider .product a.product_link h2 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: ubuntu;
}

section#product_slider .product a.product_link .rating {
  margin: 5px 0;
  font-family: roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section#product_slider .product a.product_link .rating svg {
  width: 20px;
  fill: orange;
  margin: 0 1px;
}

section#product_slider .product a.product_link .rating svg.caret {
  width: 10px;
  fill: #777;
  margin: 0 5px;
}

section#product_slider .product a.product_link p.price {
  margin-top: 8px;
  font-family: roboto, sans-serif;
  font-weight: normal;
  color: #000;
}

section#product_slider .product a.product_link p.price svg {
  width: 8px;
}

section#product_slider .product a.product_link p.price span.one {
  font-size: 24px;
  color: #b12704;
}

section#product_slider .product a.product_link p.price .two {
  font-size: 16px;
  color: #565959;
}

section#product_slider .product a.product_link p.price span.three {
  color: #0f1111 !important;
  font-size: 17px;
}

section#product_slider .product a.cart {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  background: #40407a;
  color: #fff;
  text-decoration: none;
  font-family: nunito;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section#categories {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-family: raleway;
}

section#categories h1 {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  -webkit-columns: #333;
  columns: #333;
  margin-bottom: 1rem;
}

section#categories h1::before {
  position: absolute;
  width: 8%;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 2px solid red;
}

section#categories .category_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#categories .category_area a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
}

section#categories .category_area a:hover > .img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

section#categories .category_area a .img {
  display: block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

section#find {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-family: raleway;
}

section#find h1 {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  -webkit-columns: #333;
  columns: #333;
  margin-bottom: 2rem;
}

section#find h1::before {
  position: absolute;
  width: 8%;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 2px solid red;
}

section#find .find_area {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section#find .find_area a {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

section#find .find_area a:hover {
  opacity: 1;
}

section#find .find_area a.amazon {
  background-image: url(/images/amazon.png);
}

section#find .find_area a.flipkart {
  background-image: url(/images/flipkart.jpg);
}

section#trust {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

section#trust a {
  width: 20rem;
  padding: 2rem;
  text-align: center;
  border: 2px solid #ccc;
  text-decoration: none;
  color: #000;
  font-family: nunito;
  margin: 0 5px;
  opacity: 0.9;
}

section#trust a:hover,
section#trust a:focus {
  opacity: 1;
}

section#trust a img {
  width: 5rem;
  height: 5rem;
}

section#trust a h2 {
  font-size: 20px;
  margin: 10px 0;
}

section#trust a p {
  color: #333;
  font-size: 14px;
}

footer {
  width: 100%;
  background: #182c61;
  color: #fff;
  margin-top: auto;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
}

footer .bottom p {
  font-family: roboto;
  font-size: 14px;
}

footer .bottom .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

footer .bottom .connect a {
  text-decoration: none;
  color: currentColor;
  margin: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .bottom .connect a svg {
  width: 22px;
  fill: currentColor;
}
